@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body.theme {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  background-color: #f3f6ff;
}

.navbar.navbar-dark.bg-dark .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #1d6ee7 !important;
}

.custom-control.custom-switch {
  margin-top: -6px;
}

.navbar.navbar-dark.bg-dark .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #0f6cbf;
}

.course-content #tiles-overall-progress-outer {
  display: none !important;
}

.card {
  box-shadow: rgba(50, 50, 105, 0.15) 0 2px 5px 0, rgba(0, 0, 0, 0.05) 0 1px 1px 0 !important;
}
.card:has(img.userpicture) {
  margin-top: 50px;
}
.card:has(img.userpicture) .no-overflow {
  overflow: visible;
}
.card.block_html:has(.userpicture) {
  background-color: #1d6ee7;
  color: white;
}
.card.block_html:has(.userpicture) .btn-primary {
  background-color: #175bc1;
  border-color: #175bc1;
}
.card.block_html:has(.userpicture) .btn-primary:hover {
  background-color: #144fa7;
}
.card.block_html:has(.userpicture) a {
  color: white;
}
.card.block_html:has(.userpicture) .dropdown-menu a {
  color: #1d2125;
}
.card.block_html:has(.userpicture) .userpicture {
  margin-top: -75px;
  border: 4px solid #fff;
  box-shadow: rgba(50, 50, 105, 0.15) 0 2px 5px 0, rgba(0, 0, 0, 0.05) 0 1px 1px 0 !important;
}

.navbar.bg-dark {
  background-color: #001e51 !important;
}

#page.drawers .main-inner, #region-main {
  background-color: unset !important;
}

#page-site-index #page-header {
  display: none;
}

#page-site-index #themeboostunionslider-wrapper .carousel-inner.rounded {
  border-radius: 0 !important;
}

@media (min-width: 426px) {
  .path-course-view #page #theme-block-region-outside-left {
    min-width: 250px;
  }
  .path-course-view #page #topofscroll {
    max-width: calc(100% - 270px);
  }
}

.drawer-left .drawerheader {
  background: #001e51;
}
.drawer-left .drawerheader .btn {
  color: #fff;
}

.path-course-view .main-inner-wrapper {
  display: flex;
}
.path-course-view #page-header {
  padding: 0;
}
.path-course-view #topofscroll {
  max-width: 1120px;
  width: unset !important;
  padding: 0 !important;
}

body:not(:has(a[href*="switchrole.php"])) .secondary-navigation {
  display: none;
}

@media (max-width: 425px) {
  .carousel-item img {
    width: 150% !important;
    margin-left: -25%;
  }
  .path-course-view .main-inner-wrapper {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) {
  #page-site-index #page.drawers {
    padding-left: 0;
    padding-right: 0;
  }
  #page-site-index #topofscroll {
    padding: 0;
    margin-top: 0;
    max-width: unset;
  }
  #page-site-index #topofscroll div[role=main] {
    padding-left: 20px;
    padding-right: 20px;
  }
  #page-site-index #themeboostunionslider-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  body:not(#page-site-index).format-tiles.limitedwidth:not(.path-mod) #page.drawers .main-inner {
    /*max-width: 830px;*/
  }
}
/* CURSO FORMATO BLOCOS */
.progressBarCell {
  max-height: 18px;
}
.progressBarCell.futureNotCompleted {
  background: #ecf0f1 !important;
}
.progressBarCell.notCompleted {
  background: #95a5a6 !important;
}
.progressBarCell.completed {
  background: #27ae60 !important;
}

div#courseheaderimage {
  /*height: 200px;*/
  background-position: right bottom !important;
  background-size: auto;
  /*margin-top: -50px;*/
}

.format-tiles .course-content ul.tiles .tile.phototile .photo-tile-text h3 {
  font-size: 13px !important;
  background-color: rgba(22, 112, 204, 0.9) !important;
  font-weight: bold !important;
}

.format-tiles .progress-indic svg circle.partial {
  stroke: #5cb85c;
}

.format-tiles .course-content ul.tiles .tile,
.format-tiles .course-content ul.tiles .tile_bar {
  border-top-color: #0033a0 !important;
  /*-webkit-filter: grayscale(30%); */
}

.format-tiles ul.tiles .tile-clickable:hover,
.format-tiles ul.tiles .tile_bar.clickable:hover,
.format-tiles ul.tiles .tile-clickable.current:hover {
  border-top-color: #5289ff !important;
  /* -webkit-filter: grayscale(0%); */
}

.format-tiles .course-content ul.tiles .tile[style*=amarelo] {
  border-top-color: #f39c12 !important;
}

.format-tiles ul.tiles .tile-clickable[style*=amarelo]:hover,
.format-tiles ul.tiles .tile_bar.clickable:hover,
.format-tiles ul.tiles .tile-clickable.current[style*=amarelo]:hover {
  border-top-color: #f1c40f !important;
}

.format-tiles .course-content ul.tiles .tile.phototile[style*=amarelo] .photo-tile-text h3 {
  background-color: rgba(243, 156, 18, 0.9333333333) !important;
}

.format-tiles .course-content ul.tiles .tile[style*=vermelho] {
  border-top-color: #e74c3c !important;
}

.format-tiles ul.tiles .tile-clickable[style*=vermelho]:hover,
.format-tiles ul.tiles .tile_bar.clickable:hover,
.format-tiles ul.tiles .tile-clickable.current[style*=vermelho]:hover {
  border-top-color: #c0392b !important;
}

.format-tiles .course-content ul.tiles .tile.phototile[style*=vermelho] .photo-tile-text h3 {
  background-color: rgba(192, 57, 43, 0.9333333333) !important;
}

.format-tiles .course-content ul.tiles .tile[style*=verde] {
  border-top-color: #2ecc71 !important;
}

.format-tiles ul.tiles .tile-clickable[style*=verde]:hover,
.format-tiles ul.tiles .tile_bar.clickable:hover,
.format-tiles ul.tiles .tile-clickable.current[style*=verde]:hover {
  border-top-color: #27ae60 !important;
}

.format-tiles .course-content ul.tiles .tile.phototile[style*=verde] .photo-tile-text h3 {
  background-color: rgba(39, 174, 96, 0.9333333333) !important;
}

.format-tiles .course-content li.activity.label div.titulo {
  border-left: 5px solid #0033a0 !important;
  border-bottom: 1px solid #0033a0 !important;
  padding: 15px 20px !important;
  position: relative;
  overflow: hidden;
  color: #0038a0;
  font-size: 1.2em;
  font-style: italic;
  background: rgba(0, 51, 160, 0.062745098);
}

.format-tiles .course-content li.activity.label div.titulo::after {
  content: "\f5b0";
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900);
  position: absolute;
  right: 0;
  font-size: 1.5em;
  color: #0033a0;
  transform: translate(-10px, 40%);
}

.format-tiles .course-content li.activity.label div.titulo {
  display: flex;
  align-items: center;
  gap: 0px;
}

.format-tiles .course-content li.activity.label div.titulo .fa {
  color: #234e9f;
  font-size: 1.5em;
}

.navbar.navbar-dark.bg-dark .nav-link:hover i.icon {
  color: #001e51 !important;
}

@media (min-width: 768px) {
  body#page-mod-hvp-view #page.drawers .main-inner {
    max-width: 1120px !important;
  }
}
.format-tiles .course-content li.activity.label div.titulo::after {
  content: none;
}

.format-tiles .course-content li.activity.label div.titulo {
  position: relative;
  background: #001e51;
  padding: 8px 60px !important;
  color: #fff;
  border: 0px !important;
  overflow: visible;
  margin: 16px 0 16px 15px;
  border-radius: 0 0 30px;
}
.format-tiles .course-content li.activity.label div.titulo i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #001e51;
  background: #fff !important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: -10px;
  color: #0044b9 !important;
}

.menu-depf a::before {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100%) grayscale(1);
  -webkit-filter: invert(100%) grayscale(1);
}

.menu-depf a:hover::before, .menu-depf.show a::before {
  filter: invert(0%) grayscale(0);
}

.menu-ceag a::before {
  background-image: url("https://eearvirtual.educaer.fab.mil.br/pluginfile.php/1/theme_boost_union/additionalresources/0/SO.svg");
}

.menu-caa a::before {
  background-image: url("https://eearvirtual.educaer.fab.mil.br/pluginfile.php/1/theme_boost_union/additionalresources/0/1s.svg");
}

.menu-cas a::before {
  background-image: url("https://eearvirtual.educaer.fab.mil.br/pluginfile.php/1/theme_boost_union/additionalresources/0/2s.svg");
}

.menu-ceg a::before {
  background-image: url("https://eearvirtual.educaer.fab.mil.br/pluginfile.php/1/theme_boost_union/additionalresources/0/3s.svg");
}

.menu-ceqesa a::before {
  background-image: url("https://eearvirtual.educaer.fab.mil.br/pluginfile.php/1/theme_boost_union/additionalresources/0/qesa.svg");
}

.themeboostunionadvtiles {
  overflow: hidden;
}

/*# sourceMappingURL=theme.css.map */
